
/***************** start section navbar ********************/

.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-right:1rem !important;
    padding-left: 1rem !important; 
}

.navbar .nav-item.active{
    border-left: 3px #444 solid; 
}


/*****************start section home carousel********************/
 
.carousel-item{
    height: 450px;
}

/*****************start section get started ********************/


#get-started{
    position: relative;
    background: url('../img/lights.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 200px;
}
.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6)
}

/****************************Start Section Media*********************************************/

#media{
    position: relative;
    background: url('../img/media.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 200px;
}
#media a{
    color: #fff;
}

/**************footer section********************/

footer{
    background: #000;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .fab{
    color: #fff;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}


/****************************************************START PAGE ABOUT US***********************************************************************/

/************************home about us********************/
#home-about-us{
    background: url('../img/image1.jpg');
    background-position: 0 -360px;
    background-attachment: fixed;
    min-height:200px;    
    color: #fff;
    padding-top: 50px;
}
#what-we-do .img-fluid{
    margin-top: -50px;
}

/************************section services***************************************/
#faq a{
    color: #fff;
    outline: none;
    text-decoration: none;
}
#faq .card{
    background: #333;

}
@media(max-width:400px){
    .carousel-item{
        height: 220px;
    }
}